#phistory a, #phistory a:active, #phistory a:hover, div.phistory {
    color: #757575;
}

body {
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222
}

#psub, #ptitle {
    text-align: center;
    font-family: Garamond, Georgia, serif
}

#passage, #phistory, #psub, #ptitle {
    max-width: 38em;
    line-height: 145%;
    margin: 30px auto;
}

#passage {
    padding: 1rem 3rem;
    background: rgba(0,0,0,0.7);
}

#psub {
    font-style: italic;
    font-size: 14px
}

div.phistory {
    border-bottom: 2px dotted #bbb;
}

div.phistory:empty {
    border: none
}

.buttons {
    text-align: center;
    margin: 2rem;
}

a {
    color: #222;
    text-decoration: none;
    border: 0.5rem solid black;
    margin: 0.5rem 1rem;
    background: white;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    display: inline-block;
    max-width: 38%;
    vertical-align: middle;
    text-shadow: none;
}

a:hover {
    color: red;
    border-color: red;
}

a:active {
    color: red;
    border-color: red;
}

#phistory a.visited {
    color: red;
    border-color: red;
}

tw-storydata {
    display: none
}

p {
    color: white;
    text-shadow: 1px 1px 1px black;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}
body {
    margin: 0;
}
#bg {
  position:relative;
  margin:0;
  display: initial;
}

#bg img {
    position: fixed;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: -10;
    width: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bg img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}